<mat-grid-list cols="3" rowHeight="2:1" class="main-container">
  <mat-grid-tile class="tile">
    <app-item></app-item>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
    <app-item></app-item>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
    <app-item></app-item>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
    <app-item></app-item>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
    <app-item></app-item>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
    <app-item></app-item>
  </mat-grid-tile>
</mat-grid-list>
