<div *ngIf="itemData" else notFoundId class="main-container">
  <div class="card-container">
    <div class="header">
      <h1>{{ itemData.itemName }}</h1>
      <h3>Seller: {{ itemData.sellersName }}</h3>
    </div>
    <div class="image-container">
      <img src="{{ itemData.photoUrl }}" alt="" />
    </div>
    <div class="description-container">
      <h4>{{ itemData.description }}</h4>
    </div>
    <div class="price-container">
      <h2>{{ itemData.price | currency: "USD":"symbol" }}</h2>
      <button mat-raised-button color="primary">BUY</button>
    </div>
    <div class="route-back">
      <button
        *ngIf="itemData.selable === ItemIsSelable.saleable"
        (click)="setItemStatus()"
        mat-raised-button
        color="warn"
      >
        Item Disabled
      </button>
      <button
        *ngIf="itemData.selable === ItemIsSelable.unsalable"
        (click)="setItemStatus()"
        mat-raised-button
        color="accent"
      >
        Item Enabled
      </button>
      <button (click)="backToMain()" mat-raised-button color="primary">
        BACK
      </button>
    </div>
  </div>
</div>
