.main-container {
  width: 100vw;
  height: 100vh;
  padding: 100px;

  .table {
    padding-top: 20px;
    width: 80%;
  }

  .mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-purchase_date {
    padding-left: 16px;
    font-size: 20px;
  }

  .mat-column-name {
    font-style: italic;
  }

  .mat-column-price {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .button-container {
    width: 10%;
    height: 10%;
    padding-top: 20px;

    button {
      color: green;
    }
  }

  .no-invoice {
    height: 60px;
    margin-top: 15px;
    padding: 0 15px;
    display: flex;
    align-items: center;

    p {
      font-size: 20px;
    }
  }
}
