<div class="header">
  <div class="settings">
    <button mat-button [matMenuTriggerFor]="menu">
      Hy {{ username }}!
      <mat-icon><span class="material-icons">arrow_drop_down</span></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-button routerLink="/main/add">Add new item</button>
      <br />
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </mat-menu>
  </div>
  <p class="title">
    {{ userDollar | currency: "USD":"symbol" }}
  </p>
</div>
